body {
  font-family: 'EB Garamond', serif;
}

#outer-container {
  position: relative;
  margin: 0px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  text-align: center;
}

h1.headerText {
  font-size: 3em;
}

p {
  margin-bottom: 15px;
}

#title {
  position:absolute;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  width: 600px;
}

#nav {
  position:absolute;
  top: 90px;
  width: 600px;

}

.navel {
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  text-decoration: none;
  color: #606060 ;
}

.navel:hover {
  cursor: pointer;
}

.navel.selected {
  font-weight: bold;
  color: #000000 ;
}

#content-container {
  padding-top: 130px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.1em;
}

.content { 
  position: relative;
  display: none;
}

.content.selected {
  display: block;
}

div.us {
  width: 474px;
  margin-left: auto;
  margin-right: auto;  
}

div.caption {
  text-align: right;
  font-size: 12px;
}

div.question {
  font-weight: bold;
  margin-bottom: 15px;
}

div.answer {
  margin-bottom: 15px;
}

p.reservationCodes {
  padding-left: 10px;
  margin: 0;
}

#logo {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

label {
/*   display:block; */
  font-weight: normal;
}

h3 {
  margin-bottom: 0em;
  margin-top: 1.5em;
}

a.listlink {
  text-decoration: none;
  color: #606060;
}

a.listlink:hover {
  cursor: pointer;
  text-decoration: underline;
}
